$header-height: 48px;

.home_header {
  height: $header-height;
}

.placeholder {
  height: $header-height;
}
.content {
  height: $header-height;
  display: flex;
  align-items: center;
  padding: 0 24px;
  border-bottom: 1px solid var(--mink-color-border);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  max-width: 100%;
  background: var(--mink-color-bg);
  backdrop-filter: blur(8px);
}

.left {
  flex: 1;
  font-size: 16px;
  font-weight: 450;

  .slogan {
    cursor: pointer;
  }
}

.right {
  margin-left: 12px;
}

.link-item {
  color: var(--mink-color-text);
  font-size: 16px;
  text-decoration: none;

  &:not(:first-child) {
    margin-left: 12px;
  }

  &:hover {
    color: var(--mink-color-hover);
  }

  &:active,
  &:global(.active) {
    color: var(--mink-color-info-active);
  }
}

.home_layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}
.home_layout__main {
  flex: 1;
  overflow: auto;
}
